{% extends "base.html" %}
    
{% block content %}
<style type="text/css">
    td {
      padding: 0 30px;
    }
</style>
{% if current_user.is_anonymous %}
<h2> Welcome to Terminal News!</h2>
{% else %}
<h2> Hello, {{ current_user.username }}!</h2>
{% endif %}
<table style="margin-left:auto;margin-right:auto;">
    <thread>
        <tr valign="top">
            <th colspan="1">
                <h1>News Feed:</h1>
            </th>
            <th colspan="1">
                <h1>Available Players:</h1>
            </th>
        </tr>
    </thread>
    <tbody>
        <tr valign="top">
            <td>
                {% if current_user.gm_status == 1 %}
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.headline.label }}<br>
                        {{ form.headline(size=32) }}<br>
                        {% for error in form.headline.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.body.label }}<br>
                        {{ form.body(cols=32, rows=4) }}<br>
                        {% for error in form.body.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit() }}</p>
                </form>
                {% endif %}

                {% for article in articles %}
                <div>
                    <p><h3>{{ article.headline }}</h3></p>
                    <p>{{ article.body }}</p>
                    <p><i>by {{ article.author.username }}</i></p>
                </div>
                {% endfor %}
            </td>
            <td>
                {% for char in chars %}
                <div>
                    <b>{{ char.name }} -</b>
                    <p>Level: {{ char.level }}, Class: {{ char.class }}</p>
                </div>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
